.create{
    max-width: 1040px;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    form{
        display:  flex;
        flex-direction: column;
        label{
        }
        select{
            margin-top: 30px;
            width: 20%;
            font-size: 1rem;
        }
        input{
            margin-top: 30px;
            font-size: 1rem;
            width: 50%;
            &:first-child{
                height: 40px;
            }
            border: 1px solid red;
        }
        button{
            background-color: rgba(255, 0, 0, 0.445);
            border: 1px solid rgb(0, 209, 80);
            margin-top: 50px;
            width: 100px;
            padding: 10px 20px;
        }
    }
}