
@{
    ViewBag.Title = "text";
    Layout = "~/Views/layout/layout.cshtml";
}

<div>
    <a href="">texter</a>
</div>
@section js{
    <script src="~/accect/js/jquery.min.js"></script>
    <script src="~/accect/js/popper.min.js"></script>
    <script src="~/accect/js/bootstrap.bundle.min.js"></script>
    <script src="~/accect/js/jquery-3.0.0.min.js"></script>
    <script src="~/accect/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/accect/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/accect/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/accect/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
}

