@model IEnumerable<shopxe.Models.sanpham>
@{
    ViewBag.Title = "Danhsachxemoinhat";
    Layout = "~/Views/layout/layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    }
<div class="card">
    @foreach (var i in Model) { 
        <div class="card__item">
            <div class="img">
                <img src="@i.imgurl" alt="">
            </div>
            <div class="name">
                <p>@i.ten</p>
                <a href=""></a>
            </div>
            <div class="gia">
                <p>@i.gia / ngay</p>
            </div>
            <div class="danhgia">
                <p>10/10 &#10032;</p>
            </div>
        </div>
}
</div>
